.custom-cursor {
  position: fixed;
  top: -44px;
  left: -44px;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: black; */
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  /* mix-blend-mode: difference; */
  transition:
    width 0.2s ease,
    height 0.2s ease,
    padding 0.2s ease,
    background-color 0.2s ease;
}

.cursor-text {
  line-height: 1;
}

a:hover .custom-cursor,
button > *:hover .custom-cursor,
[data-hide-cursor]:hover .custom-cursor {
  display: none;
}
