@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Apfel Grotezk";
  src: url("/fonts/ApfelGrotezk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Apfel Grotezk Mittel";
  src: url("/fonts/ApfelGrotezk-Mittel.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Apfel Grotezk Fett";
  src: url("/fonts/ApfelGrotezk-Fett.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide default cursor */
* {
  /* cursor: none; */
  box-sizing: border-box;
}

/* Show default cursor for interactive elements */
button,
a,
input,
textarea,
select {
  /* cursor: none; */
}

body {
  @apply text-base text-neutral-700;
  font-family: "Apfel Grotezk", sans-serif;
  min-height: 100vh;
}
